@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    overflow: hidden;
  }
  html,body{
    margin:  0px;  
    height:100vh; 
  }
  h3, p{
    margin: 0;
    font-family: 'Outfit', sans-serif;
  }
  h3{
   font-weight: 700;
   margin: 8px 0px;
   text-align: center;
  }
  p{
    font-weight: 400;
    text-align: center;
  }
  main{
    background-color: hsl(212, 45%, 89%);
    width: 100%;
}
  .container {
    background-color: hsl(0, 0%, 100%);
    width: 240px;
    margin: 4em auto;
    border-radius: 10px;
  }
  
  img {
    image-rendering: pixelated;
    width: 210px;
    height: 210px;
    border-radius: 5px;
  }
  .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8em;

   
  }
  footer{
    position: relative;
  }